#todoListBorder {
  border: solid black 2px;
  text-align: center;
  width: 400px;
  padding-left: 20px;
}

#title {
  color: darkblue;
}
#input {
 align-items: flex-end;
}

#itemsList {
  text-align: left;
}

.done {
  text-decoration-line: line-through;
}